# Created by .ignore support plugin (hsz.mobi)
# Group 2 gitignore file

# IntelliJ project files
.idea
*.iml
out
gen
.idea/workspace.xml
*.xml

>This gitignore .idea/workplace helps with merge errors that were occuring
*.xml will include all .xlm files that are casuing merge errors with our platfrom between the five of us

